doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= title
    link(rel='stylesheet', href='style.css')
  body
    .container
      .contact
        h3 Email Us
        if msg
          p#message-sent-email= msg
        form(method='POST', action="/contact")
          p
            label Name
            input(type='text', name='name')
          p
            label Role
            input(type='text', name='role')
          p
            label Company
            input(type='text', name='company')
          p
            label Email Address
            input(type='email', name='email')
          p.full
            label Message
            textarea(name='message', rows='5')
          p.full
            button(type='submit') Submit
